*{
  padding: 0px;
  margin: 0px;
}

body{
}


/*............................................................................
                                  MAIN-CONTAINER
.............................................................................*/
.main-container{
  height: auto;
  width: 100%;
}


/*--------------------------------------------------------------------------------
                                          Nav Bar
----------------------------------------------------------------------------------*/
header{
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  background-color:#154360;
  color: white;
}

.home a{
  text-decoration: none;
  color: white;

}

.titre{
  font-family: 'Joti One', cursive;
  margin-left: auto;
  margin-right: auto;
}

.home{
  font-family: 'Joti One', cursive;
  margin-left: 10px;
  color: white;
  font-size: x-large;
  text-decoration: none;

}

/*--------------------------------------------------------------------------------
                                              Diaporama
---------------------------------------------------------------------------------*/

.diaporama{
  height: 400px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../../assets/images/imgC/imgBlue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;

  animation-name: diaporama;
  animation-duration: 15s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-direction: normal;
}

@-webkit-keyframes diaporama{
  0%, 5% {background-image: url(../../assets/images/imgC/imgBlue.jpg);}
  25%, 30% {background-image: url(../../assets/images/imgC/imgKill.png);}
  50%, 55% {background-image: url(../../assets/images/imgC/imgCentral.jpg);}
  75%, 80% {background-image: url(../../assets/images/imgC/imgOne.jpg);}

}

@-moz-keyframes diaporama{
  0%, 5% {background-image: url(../../assets/images/imgC/imgBlue.jpg);}
  25%, 30% {background-image: url(../../assets/images/imgC/imgKill.png);}
  50%, 55% {background-image: url(../../assets/images/imgC/imgCentral.jpg);}
  75%, 80% {background-image: url(../../assets/images/imgC/imgOne.jpg);}
}

@keyframes diaporama{
  0%, 5% {background-image: url(../../assets/images/imgC/imgBlue.jpg);}
  25%, 30% {background-image: url(../../assets/images/imgC/imgKill.png);}
  50%, 55% {background-image: url(../../assets/images/imgC/imgCentral.jpg);}
  75%, 80% {background-image: url(../../assets/images/imgC/imgOne.jpg);}
}

/*------------------------------------------------------------------------------
                                      DESCRIPTIF
------------------------------------------------------------------------------*/

.descriptif{
  height: 70px;
  width: 100%;
  text-align: center;
  background-color:#154360;
  color: white;
  font-size: x-large;
  font-family: 'Joti One', cursive;
}



/*-----------------------------------------------------------------------------------
Block Principal
-----------------------------------------------------------------------------------------*/

.block_principal{
  height: 500px;
  width: 100%;
  display: flex;
  background-color:#7fb3d5;
}

.block a{
  outline-style: none;
}

.block_contenu{
  width: 475px;
  height: 338px;
  text-align: center;
  color: black;
  margin: 0px;
  border-radius: 5%;
  text-decoration: none;
}

.block{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: auto;
  transition: all .5s ease-in-out;
  margin: 20px;
  background-color: black;
  border-radius: 5%;
  cursor: pointer;
}

.block:hover {
  background-color: rgba(123, 123, 200, 0.1)!important;
  font-size: 20px;
  color: white;
}




.action{
  text-decoration: none;
  background-image: url(../../assets/images/globe/test.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.romance{
  background-image: url(../../assets/images/globe/romance.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aventure{
  background-image: url(../../assets/images/globe/aventure.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.policier{
  background-image: url(../../assets/images/globe/policier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.science-fiction{
  background-image: url(../../assets/images/globe/science.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fantastique{
  background-image: url(../../assets/images/globe/fantastique.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.manga_celebre{
  background-image: url(../../assets/images/globe/celebre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sport{
  background-image: url(../../assets/images/globe/21.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/

footer{
  height: 25px;
  background-color:#154360;
}


/*------------------------------------------------------------------------------
page action
-------------------------------------------------------------------------------*/

.main_full{
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color:#7fb3d5;
}

.main_action h1{
  height: 3vw;
  background-color:#7fb3d5;
  text-shadow: 2px 2px 2px black;
  color: white;
  text-align: center;
}

.titel{
  margin-top: 1vw;
  height: 2vw;
  width: 100;
  background-color: #154360;
  border:#5d6d7e;
  font-family: 'Joti One', cursive;
  font-size: 1vw;
  text-align: center;
  color: white;
  border-radius: 25%;
  margin-bottom: 1vw;
}

h4{
width: 20vw;
height: 20vw;
text-align: center;
}

.action_img{
height: 16vw;
width: 10vw;
margin-bottom: 3vw;
margin-left: auto;
margin-right: auto;
border: 1px #154360 solid;
}

.action_img img{
  height: 17vw;
  width: 10vw;
}


.integrale{
width: 20vw;
height: 25vw;
margin: 44px;
text-align: center;
background-color:#5d6d7e;
border-radius: 10%;
overflow: hidden;
border: 1px #154360 solid;
}


.scan{
  width: 80px;
  height: 30px;

  background-color: #154360;
  border: #154360;
  color: white;
}




/*//////////////////////////////////////////////////////////////////////

                      /*TABLETTE*/

/*/////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1400px) {
  .integrale {
    width: 200px;
  }

}
