*{
  padding: 0px;
  margin: 0px;
  /*background-color: black;*/
}
/*....................................home....................................*/
.main-container-one{
  height: auto;
  width: 100%;
  background-color: black;
  margin-top: 10px;
}

.title{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.menu-items{
  display: inline-flex;
  background-color: black;
  border-style: solid;
}

.form{
  width: 885px;
  background-color: black;
  border-style: solid;
}

.formulaire{
  float: right;
}

ul{
  display: inline-flex;
  justify-content: space-around;
  width: 900px;
  list-style: none;
}

li{
  color: #A20808;
  text-shadow: 0px 0px 9px #FB7879;
}

a{
  text-decoration: none;
}

.text{
  height: 25px;
  background-color: #FB7879;
  border: #840F0F;
}

.go{
  height: 35px;
  width: 100px;
  color:#A20808;
  text-shadow: 0px 0px 9px #FB7879;
  background-color: black;
  border: black;
}


#homes h1{
  color: #8E0000;
  text-shadow: 0px 0px 9px #FB7879;
  text-align: center;
  font-size: xx-large;
}

#galerie{
position: relative;
height: 360px;
}

#galerie img{
  position: absolute;
  display: none;
}

#galerie .active{
  display: block;
  margin-left: 610px;
}

/*..........................home..............................................*/
.main-container-two{
  width: 100%;
}

.main-container-two h1{
  height: 100px;
  text-align: center;
  background-color: black;
  color: #8E0000;
  text-shadow: 0px 0px 9px #FB7879;
}

#nouveaute{
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: #8E0000;
}

.main-container-three h1{
  height: 100px;
  text-align: center;
  background-color: black;
  color: #8E0000;
  text-shadow: 0px 0px 9px #FB7879;
}

#future_sortie{
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 100%;
  text-align: center;
  color: #8E0000;
}
